.hapsa-img {
    height: -webkit-fill-available;
}

.hapsa {
    width: min-content;
    margin: 0 auto;
}

.solid {
    margin-top: 100px;
    border-top: 3px solid #bbb;
}

.name {
    font-size: 25px;
}